@model CSITDemo.Models.TeacherModel
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
<form>
    <label asp-for="Name"></label>
    <input asp-for="Name" />
    <br />
    <label asp-for="Subject"></label>
    <input asp-for="Subject" />
    <br />
    <label asp-for="Email"></label>
    <input asp-for="Email" />
    <br />
    <label asp-for="Password"></label>
    <input asp-for="Password" />
    <br />
    <label asp-for="ConfirmPassword"></label>
    <input asp-for="ConfirmPassword" />

</form>